<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <style type="text/css" media="screen">@import "/iui/iui.css";</style>
    <script type="application/x-javascript" src="/iui/iui.js"></script>
  </head>
  <body>
    <div class="toolbar">
         <h1 id="pageTitle"><%= @title %></h1>
         <a id="backButton" class="button" href="#"></a>
         <a class="button" href="/" target="_self">Refresh</a>
     </div>
    <ul id="home" selected="true" title="GodWeb">
	<% unless @groups.empty? %>
	      <li class="group">Groups</li>
	    <% @groups.each do |watch| %>
	      <li id="<%= watch %>"><a href="/g/<%= watch %>"><%= watch %></a></li>
	    <% end %>
	<% end %>
      <li class="group">Watches</li>
    <% @watches.each do |watch| %>
      <li id="<%= watch %>" class="<%= @statuses[watch][:state] %>"><a href="/w/<%= watch %>"><%= watch %></a> [<%= @statuses[watch][:state] %>]</li>
    <% end %>
    </ul>
  </body>
</html>